<div data-id={{order_id}} id="chat-{{order_id}}" class="chats-item">
    <img class="chats-item-avatar" src="/assets/img/default-avatar.png" alt="avatar">
    <div>
        <div class="chats-item-nickname">
        {{#if interlocutor_name}}
        {{interlocutor_name}}
        {{else}}
        Аноним
        {{/if}}
        </div>
        <div class="chats-item-last-message">{{text}}</div>
    </div>
</div>