<div class="background">
    <div id="storeHeader" data-store_id="{{storeId}}" class="store__header">
        <div class="store__img-container">
            <img src="{{picture}}" class="store__logo" alt="Store logo">
            <button id="js-upload-avatar" class="img-upload-button"></button>
            <input type="file" name="uploadFile" id="file" accept=".png, .jpg, .jpeg" class="none">
        </div>
        <div class="store__name">{{storeName}}</div>
        <div class="store-tags">
            {{#each categories}}
            <div class="store-tags__item">{{this}}</div>
            {{/each}}
        </div>
        <div class="store__functions">
            <button class="info-button js-goto-reviews store-buttons">Отзывы</button>
            <button class="info-button js-goto-chats store-buttons">Чаты</button>
            <button class="info-button js-goto-orders store-buttons">Заказы</button>
            <button class="info-button js-add-item store-buttons">Добавить блюдо</button>
        </div>
    </div>
    <div class="store__showcase js-showcase">
        {{#each products}}
        <div class="product" id="{{ this.id }}" data-product_id="{{ this.id }}">
            <div class="product-normal" data-product_id="{{ this.id }}">
                <img src="{{ this.picture }}" class="product__img" alt="assets/burger1.png">
                <button class="delete-button js-delete-button" data-product_id="{{ this.id }}"></button>
                <div class="product__info">
                    <div class="product__name"> {{ this.food_name }} </div>
                    <div class="product__cals">{{ this.food_calories }}</div>
                    <div class="product__price">{{ this.food_price }} p</div>
                </div>
                <div class="product__descr">{{ this.descr }}</div>
                <button class="proceed-button js-edit-item edit-button"
                    data-product_id="{{ this.id }}">Редактировать</button>
            </div>
            <div class="product-editor" data-product_id="{{ this.id }} id=" {{ this.id }}">
                <img src="{{ this.picture }}" class="product__img product__img-editor">
                <form class="product__img-form">
                    <input value={{ this.picture }} id="product__img-form" type="file" name="product__img-form"
                        accept=".png, .jpg, .jpeg">
                </form>
                <button class="delete-button js-delete-button"></button>
                <input type="text" class="common-input js-name-input" placeholder="Название:"
                    value="{{ this.food_name }}"></input>
                <input type="text" class="common-input js-descr-input" placeholder="Описание:"
                    value="{{ this.description }}"></input>
                <div class="js-price-error text-error"></div>
                <input type="number" class="common-input js-price-input" placeholder="Цена:"
                    value="{{ this.food_price }}"></input>
                <button class="proceed-button js-save-item-changes" data-product_id="{{ this.id }}">Сохранить</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>