<div class="order-cart" id="order-{{id}}" data-orderId={{id}} data-name={{vendor_name}}>
    <div class="order-cart__header">
        <div class="order-cart__info">
            <div class="order-cart__shop-name">{{vendor_name}}</div>
            <p class="order-cart__date">{{created_at}}</p>
            <p class="order-cart__address">{{address}}</p>
        </div>
        <div class="order-cart__info-right">
            <div class="order-cart__user-status">{{status}}</div>
            <div class="order-cart__buttons">
                <div class="proceed-button support-button js-open-support"
                    {{#unless showChat}}style="display:none;"
                    {{/unless}}>Чат</div>
                <div class="order-cart__review-button proceed-button js-review-button"
                    {{#unless showReview}}style="display:none;" {{/unless}}>Оцените заказ</div>
            </div>
        </div>
    </div>
    <div class="order-cart__order-list">
        {{#each products}}
        <div class="order-list__order-item">
            <div class="order-item__name">{{this.food_name}}</div>
            <div class="order-item__price">{{this.food_price}}</div>
        </div>
        {{/each}}
    </div>
</div>